body 	{
	font-family: Helvetica, sans_serif;
	text-align: center;
	background: url(images/two_people_talking.jpeg) no-repeat center center fixed; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
 	 background-size: cover;
	
}
h3	{
	font-size: 1.75em;
	color: rgba(56, 56, 56, 1);
}

h6	{
	font-size: 1.5em;
	color: rgba(56, 56, 56, 1);
}

footer	{
	background-color: rgba(56, 56, 56, 1);
	margin: 1em;
	padding: 2em;
}

.footer_nav	{
	color: #B5B5B5;
	height: 1em;
}

#index_logo	{
	margin-top: .5em;
	margin-bottom: 1em;
	font-size: 4em;
	color: #B5B5B5;
}

#above_fold	{
/*	background: url(images/two_people_talking.jpeg) no-repeat center center fixed;
*/	/*background-image: url(images/two_people_talking.jpeg); 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;*/
 	background-size: cover;
	text-align: center;

	
}


#profile_circle	{
	background: rgba(0,0,0,.2);
	border-radius: 100%;
	width: 500px;
	height: 500px;
	/*float: left;
    position: relative;
    left: 30%;
   	margin-bottom: 2em;
    */
    margin: 2em auto;
    margin-bottom: 5em;
    
}


 
#slogan	{
	padding: 10em, 3em;
	margin: 6em, 0em, 6em, 0em;
	color: #707070;
	text-decoration: 

}

#index_sign_up	{
	background-color: rgba(56, 56, 56, .6);

	border-radius: 5%;
	width: 200px;
	height: 30px;
	float: left;
    position: relative;
    left: 22%;
    padding: .5em;
    margin: .75em;

}

#index_sign_in	{
	background-color: rgba(0,0,0,.12);
	border-radius: 5%;
	border: rgba(0,0,0,1);
	width: 200px;
	height: 30px;
	float: left;
    position: relative;
    left: 22%;
    padding: .5em;
    margin: .75em;
}

#index_about	{
	background: #92DCE0;
	height: 800px;
	width: auto;
	clear: both;
}


#arrow	{
	font-size: 45px;
	margin-top: 0;
}


#under_fold	{
	height: 30em;
	width: 28em;
	background-color: white;
	float: left;
	margin: 1em;
	margin-right: 3.5em;
	margin-left: 2em;
	font-size: 14px;
	color: rgba(56, 56, 56, 1);
   /* position: relative;*/
}

#about_img	{
	border-radius: 100%;
	height: 300px;
	width: 300px;
}

#value_props	{
	background: #3B5998;
	height: 800px;	
	color: rgba(56, 56, 56, 1);
}

.value_circles	{
	margin-top: 50%;
	margin: 1em;
	background: rgba(56, 56, 56, 1);
	height: 200px;
	width: 200px;
	float: left;
	border-radius: 100%;
}


